html {
    overflow-x: hidden;
    width: 100%;
}

h1,h2, .card-header {
    font-family: "Space Grotesk",sans-serif;
}

.jumbotron {
    padding: 20px;
    color:rgb(141, 92, 33);
    background-color:rgb(163, 161, 157);
    text-align:center;
    margin: 0; 
}
header h1 {
    font-size: 70px;
}

header h2 {
    font-size: 50px;
}

.carousel-caption {
    background-color: rgba(54, 48, 12, 0.5); }
  
.carousel {
    border: solid #dd8537;
    margin-bottom: 20px;

}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; 
}

.navbar {
    background-color: rgb(141, 92, 33);
    margin-bottom: 20px;
    
}

.site-footer {
    background-image: linear-gradient(#debbaa, white);
    padding: 20px;  }
  

.adopt-card {
    margin:10px;
}

.card{
    margin-bottom: 20px;
}

.adopt-header{
    font-size: 50px;
    font-family: "Space Grotesk",sans-serif;
}

.row-content {
    padding: 10px;
    }


#donateModal .modal-header {
    background-color:rgb(141, 92, 33);
    color:black;
}

#eventModal .modal-header {
    background-color:rgb(141, 92, 33);
    color:black;
}

#eventModal .modal-body{
    position:center;
}

